# Useful Methods of Set
* add()
* clear()
* copy()
* difference()
* difference_update()
* discard()
* intersection()
* intersection_update()
* isdisjoint()
* issubset()
* issuperset()
* pop()
* remove()	
* symmetric_difference()	
* symmetric_difference_update()	
* union()	
* update()

## add()
### Adds an element to the set

In [1]:
fruits = {"apple", "banana", "cherry"}
print('Before add() method:',fruits)
print('--------------------------------------------------------------------')

fruits.add("orange")

print('After add() method:',fruits)

Before add() method: {'cherry', 'banana', 'apple'}
--------------------------------------------------------------------
After add() method: {'cherry', 'banana', 'orange', 'apple'}

## clear()
### Removes all the elements from the set

In [2]:
fruits = {"apple", "banana", "cherry"}
print('Before clear() method:',fruits)
print('--------------------------------------------------------------------')

fruits.clear()

print('After clear() method:',fruits)

Before clear() method: {'cherry', 'banana', 'apple'}
--------------------------------------------------------------------
After clear() method: set()

## copy()	
### Returns a copy of the set

In [3]:
fruits = {"apple", "banana", "cherry"}
print('Before copy() method:',fruits)
print('--------------------------------------------------------------------')

x = fruits.copy()

print('After copy() method:',x)

Before copy() method: {'cherry', 'banana', 'apple'}
--------------------------------------------------------------------
After copy() method: {'cherry', 'banana', 'apple'}

## difference()
### Returns a set containing the difference between two or more sets

In [4]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}


z = x.difference(y)

print(z)

{'cherry', 'banana'}

## difference_update()	
### Removes the items in this set that are also included in another, specified set

In [5]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

## discard()	
### Remove the specified item

In [6]:
fruits = {"apple", "banana", "cherry"}

fruits.discard("banana")

print(fruits)

{'cherry', 'apple'}

## intersection()	
### Returns a set, that is the intersection of two or more sets

In [7]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

## intersection_update()	
### Removes the items in this set that are not present in other, specified set(s)

In [8]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

## isdisjoint()	
## Returns whether two sets have a intersection or not

In [9]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

## issubset()	
### Returns whether another set contains this set or not

In [10]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

## issuperset()	
### Returns whether this set contains another set or not

In [11]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

## pop()	
### Removes an element from the set

In [12]:
fruits = {"apple", "banana", "cherry"}

fruits.pop()

print(fruits)

{'banana', 'apple'}

## remove()	
### Removes the specified element

In [13]:
fruits = {"apple", "banana", "cherry"}

fruits.remove("banana")

print(fruits)

{'cherry', 'apple'}

## symmetric_difference()	
### Returns a set with the symmetric differences of two sets

In [14]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'banana', 'cherry', 'microsoft'}

## symmetric_difference_update()	
### inserts the symmetric differences from this set and another

In [15]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'banana', 'cherry', 'microsoft'}

## union()	
### Return a set containing the union of sets

In [16]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.union(y)

print(z)

{'cherry', 'microsoft', 'apple', 'google', 'banana'}

## update()	
### Update the set with another set, or any other iterable

In [17]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.update(y)

print(x)

{'cherry', 'microsoft', 'apple', 'google', 'banana'}

## Thank You!!